# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# IDE settings
.vscode/
.idea/

# Environment variables
.env

# SQLite database
db.sqlite3

# Django migrations
tracker/migrations/